* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Open sans';
    src: url('/fonts/OpenSans.woff2') format('woff2'),
        url('/fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


.title{
    font-family: "Open Sans Bold";
    font-size:49px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 55px;
}
.title__com{
 padding-top: 20px;

}
.title__serv{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
.title__review{
    padding-top: 15px;
    padding-left: 75px;
}
.title__partners{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
li{
    list-style: none;
}

html,body
{
   height: 100%; 
}
.wrapper {
    min-height: 100%;
    padding-bottom: 76px;
}

.container{
    width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;

}
/* header===============================================*/
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    height: 79px;
    background-color: #131415;
    color: #fff;
    
}
.menu__list{
    display: flex;
}
.menu__link{
    display: flex;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.menu__elem{
    margin-right: 28px;
}
.menu__elem:last-child{
    margin-right: 0px;
}

.menu__img{
    margin-right: 20px;
}
.menu__text{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.contacts__tell{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 21px;
}
.contacts__link {
    display: block;
    text-align: right;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color:#f89513;
    
}
/* inner===============================================*/


.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 625px;
}
.inner__img {
    display: block;
}
/* feauters===============================================*/
.feauters{
    background-color: #131415;
    color: #fff;
    height: 100%;
    padding-bottom: 100px;
}


.feauters__items{
    width: 200px;
    text-align: center;
    
}


.feauters__list{
    display: flex;
    list-style-position: inside;
    justify-content: center;
    align-content: center;

}

.feauters__title {
    font-family: 'Open Sans';
    font-size:11px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 38px;
    padding-bottom: 25px;
    letter-spacing: 0.3em;
}

.feauters__elemm{
    text-align: center;
    width: 201px;
    margin-right: 45px;
    margin-left: 29px;
    

}
.feauters__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:#f89513;
    margin: 0 auto;

}
.feauters__text{
    font-family: 'Open Sans';
    font-size:18px;
    font-weight: 400;
    line-height: 1.5em;

}
.feauters__pointlist{
    line-height: 1.5em;
}
.feauters__point {
    line-height: 2em;
    list-style: disc;
    text-align: left;
    list-style-position: inside;
    
}
/* last-news==active=============================================*/

.active__container{
    display: flex;
    width: 1060px;
    margin: 0 auto;
    min-height: 100%;
}

.active__title{
    padding-bottom: 70px;
}

.news__items{
    width: 880px;
    display: flex; 
    justify-content: center;
      
}

.news__data{
    color: #989898;
    
}
.news__title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #221f1f;
    padding-top: 10px;
    padding-bottom: 18px;
}
.news__text{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #3f3d3d;
   line-height: 1.50em;
}
.news__logo {
    padding-right: 20px;
   
}
.logo__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
.news__elemm{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f5f5f5;
   
   
}
.news__elemm:last-child{
    border-bottom:none; 
}
.active-two {
    padding-top:20px;
}
   
.top-news{
    padding-left: 20px;
}

.subtitle__link{
    
    color: #848383;
    margin-bottom: 25px;
}

.news__link{
    display: block;
    padding-bottom: 20px;
}

/* footer===============================================*/
.footer{
    height: 76px;
    background-color: #131415;
    color: #fff;
    margin-top:-76px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__img {
    margin-right: 10px;
}
.footer__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#f89513;
    margin: 0 auto;

}
.social__title{
    padding-bottom: 11px;
    
}
.footer__link:hover{
    background: #d0d0d0;
}
.social__list {
    display: flex;
    justify-content: center;
}

.name{
    font-weight: 700;
    text-decoration: underline;
}

.creator{
    font-weight: 700;
}


/* comments
=======================================================================================================
*/
.cmt {
   
    height: 172px;
    background-color: #131415;
    color: #fff;
    background: url(../img/comments/pattern.jpg) repeat center center;
    margin-bottom: 63px;
}

.com {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active .title{
    text-align: left;
}

/*bread-crumbs*/

.bread-crumbs {
margin-left: 80px;
margin-top: 36px;
}

.bread-crumbs__list {
	display: flex;
}

.bread-crumbs__link {
	font-style: italic;
	color: #f89513;
	text-decoration: underline;
	font-size: 14px;
}

.bread-crumbs__elem:after {
	content: '/';
}

.bread-crumbs__elem:last-child:after {
	content: '';
}

.bread-crumbs__elem {
	margin-right: 5px;
}

.bread-crumbs__elem:last-child .bread-crumbs__link{
	color: #221f1f;
	text-decoration: none;
}








/*Pagination===================================================================*/

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: 'Open Sans';
    margin-top: 20px;
    margin-bottom: 60px;
    height: 100%;

    
}

.pagination__pages {
	display: flex;
}

.pagination__text {
	margin-right: 10px;
}


.pagination__list {
	display: flex;
}

.pagination__page,
.pagination__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	border-radius: 2px;
}

.pagination__page {
    color: #221f1f;
    text-decoration: none;
    font-family: 'Open Sans Bold';
}

.pagination__page:hover {
	color: #f89513;
} 

.pagination__elem--active .pagination__page{
	background-color: #221f1f;
	color: #f89513;
}


.cmt__title{

    font-family: 'Open Sans';
    font-size:18px;
    font-weight: 400;
    line-height: 1.70em;
}

.orange-text{
    color: #f89513;
    font-weight: bold;

}
/* form
=======================================================================================================
*/ 

.title__form {
    text-align: left;
    text-transform: none;
    padding-top:0px;
    padding-bottom: 14px;
}
.form-wrapper {
	display: flex;
	justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.form {
	width: 700px;
	min-height: 430px;
	background-color: #f5f5f5;
	padding: 44px 70px;
	border-radius: 3px;
}

.form__row {
	display: flex;
    margin: 0 -10px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
}

.form__col {
	flex: 1;
	padding: 0 10px;
}

.form__col--buttons {
	display: flex;
	justify-content: flex-end;
}

.form__input,
.form__textarea {
	width: 100%;
	padding: 10px;
	height: 45px;
	border: 1px solid transparent;
	outline: none;
	border-radius: 3px;
}

.form__textarea {
	height: 90px;
	resize: none;
}

.form__input:focus {
	border: 1px solid #f89513;
}
.form__textarea:focus{
    border: 1px solid #f89513;
}

.form__radio-wrapper {
    display: flex;
    margin-top:15px;
    
}

.form__radio {
	display: flex;
	margin-right: 10px;
}

.form__radio-input {
	opacity: 0;
	position: absolute;
}

.form__radio-content {
	display: flex;
    align-items: center;
}

.form__radio-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cbcbcb;
	margin-right: 5px;
}

.form__radio-btn:after {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #f89513;
	opacity: 0;
}

.form__radio-input:checked + .form__radio-content .form__radio-btn {
	border: 1px solid #f89513;
}

.form__radio-input:checked + .form__radio-content .form__radio-btn:after {
	opacity: 1;
}

.form__radio-input:checked + .form__radio-content .form__radio-text {
	color: #f89513;
}

.btn {
	display: flex;
	background-color: #1c1f1d;
	border:0;
	border-radius: 3px;
	color: #fff;
	padding: 15px 25px;
	cursor: pointer;
    text-transform: uppercase;
    font-family: 'Open Sans Bold';
}

.btn:hover {
	background-color: #f89513;
}
/* services
=======================================================================================================
*/
.services{
    height: 100%;
    min-width: 880px;  
}


    
.services__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services__elemm{
    width:290px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;

}
.services__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 155px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
}


.services__text{
    width: 250px;
    font-family: 'Open Sans';
    font-size: 14px;
}

.services__title{
    font-family: 'Open Sans Bold';
    padding-top: 28px;
    padding-bottom: 10px;
}
/*partners==============================*/
.partners__container{
    width: 740px;
    margin: 0 auto;
}


.partners__list{
    display: flex;
    flex-wrap: wrap;

}
.partners__item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    width: 33.33333%;

}

.partners__logo{
    
    filter: grayscale(100%);

}
.partners__logo:hover{
    filter: grayscale(0);
}






