* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    display: block;
}
@font-face {
    font-family: 'Open sans';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/*======================================================*/

.wrapper--intro {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
	background-image: url(../img/index-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper--intro:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

.intro {
	position: relative;
	width: 170px;
	animation-name: bounceIn;
	animation-duration: 0.75s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.intro__logo {
	width: 100%;
	margin-bottom: 10px;
}

.intro__logo img {
	width: 100%;
}

.btn--intro {
	background-color: #f89513;
	padding: 15px;
    font-size: 14px;
    text-decoration: none;
}

.btn--intro:hover {
	background-color: #1c1f1d;
}
  

@-webkit-keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	20% {
	  -webkit-transform: scale3d(1.1, 1.1, 1.1);
	  transform: scale3d(1.1, 1.1, 1.1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.9, 0.9, 0.9);
	  transform: scale3d(0.9, 0.9, 0.9);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: scale3d(1.03, 1.03, 1.03);
	  transform: scale3d(1.03, 1.03, 1.03);
	}
  
	80% {
	  -webkit-transform: scale3d(0.97, 0.97, 0.97);
	  transform: scale3d(0.97, 0.97, 0.97);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  @keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	20% {
	  -webkit-transform: scale3d(1.1, 1.1, 1.1);
	  transform: scale3d(1.1, 1.1, 1.1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.9, 0.9, 0.9);
	  transform: scale3d(0.9, 0.9, 0.9);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: scale3d(1.03, 1.03, 1.03);
	  transform: scale3d(1.03, 1.03, 1.03);
	}
  
	80% {
	  -webkit-transform: scale3d(0.97, 0.97, 0.97);
	  transform: scale3d(0.97, 0.97, 0.97);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  .bounceIn {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
  }












/*======================================================*/

.main{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}
.title{
    font-family: "Open Sans Bold";
    font-size:49px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
}
.title__com{
 padding-top: 20px;

}
.active__title{
    text-align: left;
    padding-bottom: 30px;
}
.title__serv{
    text-align: left;
    padding-bottom: 24px;
    letter-spacing: 0.06em;
    padding-left: 6px;
}
.title__review{
 padding-bottom: 30px;
}
.title__partners{
    text-align: left;
    padding-top: 0px;
    padding-bottom: 30px;
    letter-spacing: 0.07em;
    font-size: 15px;
    text-align: center;
}
li{
    list-style: none;
}

html,body
{
   height: 100%; 
}
.wrapper {
    min-height: 100%;
    padding-bottom: 76px;
}

.container{
    width: 1100px;
    padding: 0 0px;
    margin: 0 auto;
    height: 100%;

}
/* header===============================================*/
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}
.header{
    height: 68px;
    background-color: #131415;
    color: #fff;
    
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu__list{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.menu__link{
    display: flex;
    color: black;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.menu__list.list-com{
    padding-top:40px;
}
.menu__elem{
    padding-bottom: 18px;
    margin: 0 auto;
}

.menu__img{
    margin-right: 20px;
}
.menu__text{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.contacts__tell{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 21px;
}
.contacts__link {
    display: block;
    text-align: right;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color:#f89513;
    
}
.contacts{
    position: relative;
    font-family: 'Open-Sans Bold';
}

.contacts__drop {
	position: absolute;
	top: -1000px;
	right: 0;
	background-color: #fff;
	padding: 15px 9px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
	color: #000;
	width: 160px;
	font-size: 14px;
	opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Open-Sans';
}

.contacts__drop:after {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 2px;
	display: block;
	border: 10px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0;
}

.contacts__drop:before {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
	height: 10px;
}


.contacts:hover .contacts__drop{
	opacity: 1;
	top: calc(100% + 10px);
}

/*navbar================================================*/

.flex{
    display: flex;
}
.navbar{
 width: 270px;
 flex: 0 0 auto;
 padding: 0 20px;
}

/* inner===============================================*/


.inner{
   /* display: flex;
    justify-content: center;
    align-items: center;
    */
    height: 450px;
}
.inner__img {
    display: block;
    height: 100%;
}
/* feauters===============================================*/
.feauters{
    background-color: #131415;
    color: #fff;
    height: 100%;
    padding-bottom: 100px;
}


.feauters__items{
    width: 200px;
    text-align: center;
    
}
.feauters__title{
    font-family: 'Open Sans Bold';
    font-size:15px;
    text-transform: uppercase;  
    padding-top: 18px;
}

.feauters__list{
    display: flex;
    list-style-position: inside;
    justify-content: center;
    align-content: center;

}

.feauters__subtitle {
    font-family: 'Open Sans';
    font-size:11px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 25px;
    padding-bottom: 11px;
    letter-spacing: 0.3em;
}

.feauters__elemm{
    text-align: center;
    border:  1px solid black;
    width: 252px;
    margin-bottom: 55px;
}
.feauters__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:#f89513;
    margin: 0 auto;
    
}
.feauters__text{
    font-family: 'Open Sans';
    font-size:18px;
    font-weight: 400;
    line-height: 1.5em;
    padding-bottom: 20px;
    

}
.feauters__pointlist{
    line-height: 1.5em;
    
}
.feauters__point {
    line-height: 1.8em;
    list-style: disc;
    text-align: left;
    list-style-position: inside;
    padding-left: 40px;
    
}
/* last-news==active=============================================*/

.active.padding--active{
    padding: 0 20px;
}
.active__container--padding {
    display: flex;

}
.active__container{
    display: flex;
    margin: 0 auto;
}

.news__items{
    display: flex; 
    justify-content: center;  
    
}
.top-news{
    text-align: center;
    padding-bottom: 22px;
}
.news__data{
    color: #989898;
    font-family: 'Open Sans';
    padding-bottom: 10px;
    
}
.news__title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #221f1f;
    padding-bottom: 11px;
}
.news__text{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #3f3d3d;
   line-height: 2em;
}
.news__logo {
    padding-right: 20px;
   
}
.logo__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
.news__elemm{
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 40px;
    padding-bottom: 20px; 
    
}
.news__elemm:last-child{
    border-bottom:none; 
    margin: 0;
    padding: 0px;
}
.active-two {
    padding-top:20px;
}
   

.subtitle__link{
    
    color: #848383;
    margin-bottom: 18px;
}

.news__link{
    display: block;
    padding-bottom: 12px;
}
/* footer===============================================*/
.footer{
    height: 76px;
    background-color: #131415;
    color: #fff;
    margin-top:-76px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px 0 15px;
}

.footer__img {
    margin-right: 10px;
}
.footer__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;

}
.social__title{
    font-family: 'Open Sans Bold';
    padding-bottom: 11px;
    text-align: center;
    
    
}
.footer__link:hover{
    background: #d0d0d0;
}
.social__list {
    display: flex;
    justify-content: center;
}
.name{
    font-weight: 700;
    text-decoration: underline;
}

.creator{
    font-weight: 700;
}


/* comments
=======================================================================================================
*/
.cmt {
    background-color: #131415;
    color: #fff;
    background: url(../img/comments/pattern.jpg) repeat center center;
    margin-bottom: 20px;
    text-align: center;
    width: 250px;
    margin-top:53px;
    padding-top: 18px;
}

.com {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active .title{
    text-align: left;
}

/*bread-crumbs*/

.bread-crumbs {
	padding-top: 20px;
}

.bread-crumbs__list {
	display: flex;
}

.bread-crumbs__link {
    font-family: 'Open-Sans';
	font-style: italic;
	color: #f89513;
	text-decoration: underline;
	font-size: 14px;
}

.bread-crumbs__elem:after {
	content: '/';
}

.bread-crumbs__elem:last-child:after {
	content: '';
}

.bread-crumbs__elem {
	margin-right: 5px;
}

.bread-crumbs__elem:last-child .bread-crumbs__link{
	color: #221f1f;
	text-decoration: none;
}

}

.bread-crumbs__elem:last-child .bread-crumbs__link{
	color: #221f1f;
	text-decoration: none;
}








/*Pagination===================================================================*/

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: 'Open Sans'; 
    padding: 30px 0 42px 0;
}

.pagination__pages {
	display: flex;
}

.pagination__text {
	margin-right: 10px;
}


.pagination__list {
	display: flex;
}

.pagination__page,
.pagination__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	border-radius: 2px;
}

.pagination__page {
    color: #221f1f;
    text-decoration: none;
    font-family: 'Open Sans Bold';
}

.pagination__page:hover {
	color: #f89513;
} 

.pagination__elem--active .pagination__page{
	background-color: #221f1f;
	color: #f89513;
}


.cmt__title{

    font-family: 'Open Sans';
    font-size:18px;
    font-weight: 400;
    line-height: 1.70em;
}

.orange-text{
    color: #f89513;
    font-weight: bold;

}

/* form
=======================================================================================================
*/ 

.title__form {
    text-align: left;
    text-transform: none;
    padding-top:0px;
    padding-bottom: 14px;
    letter-spacing: 0.09em;
}
.form-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
}

.form {

	width: 700px;
	min-height: 430px;
	background-color: #f5f5f5;
	padding: 10px 20px;
    border-radius: 3px;
    font-family: 'Open-Sans';
}

.form__row {
	display: flex;
    margin: 0 -10px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
}

.form__col {
	flex: 1;
	padding: 0 10px;
}

.form__col--buttons {
	display: flex;
	justify-content: flex-end;
}

.form__input,
.form__textarea {
	width: 100%;
	padding: 10px;
	height: 45px;
	border: 1px solid transparent;
	outline: none;
	border-radius: 3px;
}

.form__textarea {
	height: 90px;
	resize: none;
}

.form__input:focus {
	border: 1px solid #f89513;
}
.form__textarea:focus{
    border: 1px solid #f89513;
}

.form__radio-wrapper {
    display: flex;
    margin-top:8px;
    
}

.form__radio {
	display: flex;
	margin-right: 10px;
}

.form__radio-input {
	opacity: 0;
	position: absolute;
}

.form__radio-content {
	display: flex;
    align-items: center;
}

.form__radio-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cbcbcb;
	margin-right: 13px;
}

.form__radio-btn:after {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #f89513;
	opacity: 0;
}

.form__radio-input:checked + .form__radio-content .form__radio-btn {
	border: 1px solid #f89513;
}

.form__radio-input:checked + .form__radio-content .form__radio-btn:after {
	opacity: 1;
}

.form__radio-input:checked + .form__radio-content .form__radio-text {
	color: #f89513;
}

.btn {
	display: flex;
	background-color: #1c1f1d;
	border:0;
	border-radius: 3px;
	color: #fff;
	padding: 15px 15px;
	cursor: pointer;
    text-transform: uppercase;
    font-family: 'Open Sans Bold';
    letter-spacing: 0.03em;
}

.btn:hover {
	background-color: #f89513;
}
/* services
=======================================================================================================
*/
.services{
    height: 100%;
    padding: 0 20px; 
}
.services__img img{
    width: 100%;

}

.img__title{
    position: absolute;
    top:50;
    left:50 ;
    color: #f5f5f5;
    z-index: 1;
    font-family: 'Open Sans Bold';
    font-size: 24px;
    text-transform: uppercase;
}


.container--padding{
    display: flex;
}
.services__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.services__elemm{
    width:267px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 20px;
    margin-bottom: 36px;

}
.services__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.services__img::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;


}
.services__img:hover::after{
    width: 0;
    height: 0;
    transition: 0.5s;
}

.services__text{
    font-family: 'Open Sans';
    font-size: 14px;
    
}

.services__title{
    font-family: 'Open Sans Bold';
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 0.09em;
}
/*partners==============================*/
 
.partners__container{
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 20px;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top:20px;
 
}
.partners__item{
    width: 100%;
    padding-bottom: 40px;
    
}

.partners__logo{
    
    filter: grayscale(100%);

}
.partners__logo:hover{
    filter: grayscale(0);
}

a.partners__link{
    display: block;
}



/*==================================================================*/





.sprite {
    background-image: url(../img/navbar/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    
}

.sprite-feed_icon {
    width: 20px;
    height: 20px;
    background-position: -80px -20px;
}

.sprite-main_icon {
    width: 24px;
    height: 20px;
    background-position: -139px -20px;
}

.sprite-service_icon {
    width: 19px;
    height: 20px;
    background-position: -20px -20px;
}

.menu__text:hover{
    color: #f89513;
}